APP_NAME=Drop
APP_ENV=local
DEBUG=false
DATABASE_URL=postgresql+asyncpg://drop:drop@localhost:5432/drop

RABBITMQ_URL=amqp://drop:dropdropdrop@localhost:5672//

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=drop
S3_SECRET_KEY=dropdropdrop
S3_BUCKET=drop
S3_REGION=us-east-1